//////////////////////////////////
// UTILITIES
// Allows to easily add top or bottom margin

// .u-margin-bottom-tiny {
//   margin-bottom: 0rem !important;
// }
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-tiny {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-bottom-0\.5 {
  margin-bottom: 0.2rem !important;
}
.u-margin-bottom-1 {
  margin-bottom: 0.4rem !important;
}

.u-margin-bottom-1\.5 {
  margin-bottom: 0.6rem !important;
}

.u-margin-bottom-2 {
  margin-bottom: 0.8rem !important;
}

.u-margin-bottom-2\.5 {
  margin-bottom: 1rem !important;
}
.u-margin-bottom-3 {
  margin-bottom: 1.2rem !important;
}

.u-margin-bottom-3\.5 {
  margin-bottom: 1.4rem !important;
}
.u-margin-bottom-4 {
  margin-bottom: 1.6rem !important;
}

.u-margin-bottom-5 {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-6 {
  margin-bottom: 2.4rem !important;
}

.u-margin-bottom-7 {
  margin-bottom: 2.8rem !important;
}

.u-margin-bottom-8 {
  margin-bottom: 3.2rem !important;
}

.u-margin-bottom-9 {
  margin-bottom: 3.6rem !important;
}

.u-margin-bottom-10 {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-11 {
  margin-bottom: 4.4rem !important;
}

.u-margin-bottom-12 {
  margin-bottom: 4.8rem !important;
}

.u-margin-bottom-14 {
  margin-bottom: 5.6rem !important;
}

.u-margin-bottom-16 {
  margin-bottom: 6.4rem !important;
}

.u-margin-bottom-20 {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-24 {
  margin-bottom: 9.6rem !important;
}

.u-margin-bottom-28 {
  margin-bottom: 11.2rem !important;
}

.u-margin-bottom-32 {
  margin-bottom: 12.8rem !important;
}

.u-margin-bottom-36 {
  margin-bottom: 14.4rem !important;
}

.u-margin-bottom-40 {
  margin-bottom: 16rem !important;
}

.u-margin-bottom-44 {
  margin-bottom: 17.6rem !important;
}

.u-margin-bottom-48 {
  margin-bottom: 19.2rem !important;
}

.u-margin-bottom-52 {
  margin-bottom: 20.8rem !important;
}

.u-margin-bottom-56 {
  margin-bottom: 22.4rem !important;
}

.u-margin-bottom-60 {
  margin-bottom: 24rem !important;
}

.u-margin-bottom-64 {
  margin-bottom: 25.6rem !important;
}

.u-margin-bottom-72 {
  margin-bottom: 28.8rem !important;
}

.u-margin-bottom-80 {
  margin-bottom: 32rem !important;
}

.u-margin-bottom-96 {
  margin-bottom: 38.4rem !important;
}
