.feed {
}
@element .feed-item and (max-width: 400px) {
  :self {
    flex-direction: column;
    .feed-item__date {
      margin-left: 0;
      margin-right: auto;
    }
    .feed-item__content {
      width: 100%;
      margin-bottom: 1rem;
    }
    .feed-item__image {
      display: none;
    }
  }
}
.feed-item {
  display: flex;
  align-items: center;
  padding: 1.4rem;
  background-color: var(--color-whitish);
  margin-bottom: 1rem;
  border-radius: 4px;

  &__image {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 1.6rem;
  }
  &__content {
    padding-right: 3rem;
    width: 80%;
  }
  &__date {
    margin-left: auto;
  }
}
