.input {
  width: 30rem;
  input,
  textarea {
    width: 100%;
    resize: none;
    margin-top: 1.2rem;
    padding: 1.2rem 1.6rem;
    outline: none;
    border: none;
    background-color: var(--color-whitish);
    border-radius: 4px;
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
  }
  &--full {
    width: 100%;
  }
}
