.search-bar {
  height: 5rem;
  background-color: var(--color-whitish);
  // background-color: var(--color-primary);
  display: flex;
  align-items: center;
  width: 40rem;
  padding: 1.5rem;
  border-radius: 5px;
  &__input {
    width: 100%;
    border: none;
    &::placeholder {
      color: var(--color-grey);
    }
    background-color: transparent;
    outline: none;
    margin-left: 1.5rem;
  }
  &__icon {
    font-size: 2rem;
    color: var(--color-grey);
  }
}
