.standard-content {
  background-color: var(--color-whitish);
  padding: 4rem 5rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__back {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    cursor: pointer;
    div {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }
}
