.table-filter {
  display: flex;
  & > * {
    padding: 0 1.5rem;
    border-right: 1px solid var(--color-grey);
    &:last-child {
      border-right: none;
    }
  }
  &__item {
    cursor: pointer;
    &--current {
      color: var(--color-primary) !important;
    }
  }
}
